body{
    background-color: rgb(32, 20, 33);
    font: normal 20px poppins;
}
header{
    text-align: center;
}
h1 {
    color: white;
}
section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(236, 236, 236, 0.296);
}
footer{
    text-align: center;
    color: white;
}